  <!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps: Lists</title>

 <%- include partials/_header %>

  </head>

  <body>

  <%- include partials/_navbar %>

<table id="display">
  <tr>

<%

// If the list is empty, display message
// Otherwise, display map and list

if (points.length === 0) {

%>

    <td valign="top">
    <div style="border: 1px solid black; text-align: center; background-color: white;  width: 685px">
      <br><br><br><br>
      This list does not have any points yet
      <br><br><br><br><br>
      </div>
    </td>

<%
} else {

%>


    <td rowspan="100%" valign="top" width="685">
            <div id="map" onload="drop()"></div>
   <script>

    var map;

    // Convert locations array from EJS variable to readable JS variable
      var pointslist = <%-JSON.stringify(points)%>;

    // Set marker labels/letters to loop through
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;

    // Initiate Google Map
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: new google.maps.LatLng(pointslist[0].x,pointslist[0].y),
          mapTypeId: 'terrain'
        });

    // Loop through the results array and place a marker for each
    // set of coordinates.
        var markers = [];
        for (var i = 0; i < pointslist.length; i++) {

            var latLng = new google.maps.LatLng(pointslist[i].x,pointslist[i].y);
            markers.push(new google.maps.Marker({
              position: latLng,
              label: labels[labelIndex++ % labels.length],
              animation: google.maps.Animation.DROP,
              map: map
            }));

        }

      }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZRcKZN36IEIpoFJdj_c8Z9YMB4X3cb9Q&callback=initMap">
    </script>

    </td>

<%
} //end if - list has points

%>
    <td valign="top" width="388">

        <div style="height: 460px; overflow:scroll">

      <table class="list" width="100%">
        <tr>
          <th colspan="2">
          <%
           // Function to format date
        function timeFormat(date) {
        var monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];

        month = monthNames[date.getMonth()];

        var day = date.getDate();

        var year = date.getFullYear();
        return month + ' ' + day + ', ' + year;
        }
        %>

          <%=list[0].title %>
          <%
          // If the list belongs to the user, change author name to "you"

          if (cookie && list[0].id === cookie.id) {
          list[0].id = "you";
          }


          // Make sure list either belongs to user or is public-editable before displaying edit button
          if ((cookie && list[0].user_id === cookie.id) || list[0].privacy === 0 && cookie) {
          %>
            <i class="fa fa-pencil-square-o" aria-hidden="true" style="float:right; position: relative; top: 3px" onclick="editList(<%=list[0].id%>)" onMouseOver="this.style.cursor='pointer'"></i>
            <%
            } // end if - editable
            %>
            <%
            // Display bookmark link only if user is logged in
            if (cookie) {
            %>
            <div class="saveList" id="savelistdiv"><font color="#cc2900"><i class="fa fa-bookmark-o" aria-hidden="true"></i></font> &nbsp;Bookmark</div>
            <%
            }
            %>
          </th>
        </tr>
        <tr>
          <td class="secondrow" colspan="2">
          <b><%= points.length%></b> locations&nbsp&nbsp;&nbsp;|&nbsp&nbsp;&nbsp;Created by <b>
          <%=list[0].name%>
          </b> on <%=timeFormat(list[0].date_created)%>
          </td>
        </tr>
        <%
        var listLabels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var listLabelIndex = 0;




        for (var i = 0; i < points.length; i++) { %>
        <tr class="listrow">
          <td class="listlabel" id="marker_info" width="7%">
            <%= listLabels[listLabelIndex++ % listLabels.length] %>
          </td>
          <td class="listrow">
            <font class="namefont">
              <%= points[i].name %>
            </font>
            <br>
            <font class="addressfont">
              <%= points[i].address %>
            </font>
            <br>
            <%
            if (points[i].description) {
            %>
            <font class="descfont">
              <%= points[i].description %>
            </font>
            <br>
            <%
            } // end if - description
            %>
            <font class="datefont">
              Added on <%= timeFormat(points[i].added_date) %>
            </font>
          </td>

        </tr>

        <% } %>
      </table>
      </div>
</td>

<td valign="top">

  <table id="privacy">
    <tr>
    <%
    // Adjust opacity of privacy display based on setting
    if (list[0].privacy === 0) {
    %>
      <td class="public">
    <% } else {
    %>
      <td class="public" style="opacity: 0.25">
      <%
    }
    %>
        <b>Public List</b><br>
        Public can view and edit
      </td>
    </tr>
    <tr>
    <%
       if (list[0].privacy === 1) {
    %>
      <td class="viewonly">
    <% } else {
    %>
      <td class="viewonly" style="opacity: 0.25">
      <%
    }
    %>
        <b>View Only</b><br>
        Public can view only
      </td>
    </tr>
    <tr>
    <%
       if (list[0].privacy === 2) {
    %>
      <td class="private">
    <% } else {
    %>
      <td class="private" style="opacity: 0.25">
      <%
    }
    %>
        <b>Private</b><br>
        Only you can see this list
      </td>
    </tr>
  </table>


</td>
</tr>
</table>
  <%- include partials/_footer %>
