  <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

 <%- include partials/_header %>

  </head>

  <body>

  <%- include partials/_navbar %>

<table id="display">
  <tr>
    <td rowspan="100%">
            <div id="map" onload="drop()"></div>
   <script>

    var map;

    // Convert locations array from EJS variable to readable JS variable
      var pointslist = <%-JSON.stringify(points)%>;

    // Set marker labels/letters to loop through
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;

    // Initiate Google Map
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: new google.maps.LatLng(pointslist[0].x,pointslist[0].y),
          mapTypeId: 'terrain'
        });

    // Loop through the results array and place a marker for each
    // set of coordinates.
        var markers = [];
        for (var i = 0; i < pointslist.length; i++) {

            var latLng = new google.maps.LatLng(pointslist[i].x,pointslist[i].y);
            markers.push(new google.maps.Marker({
              position: latLng,
              label: labels[labelIndex++ % labels.length],
              animation: google.maps.Animation.DROP,
              map: map
            }));

        }

      }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZRcKZN36IEIpoFJdj_c8Z9YMB4X3cb9Q&callback=initMap">
    </script>

    </td>
    <td valign="top">
      <table class="list">
        <tr>
          <th colspan="2">
          <%=list[0].title %>
            </th>
          <th>
            <i class="fa fa-pencil-square-o" aria-hidden="true" style="float:right;" onclick="editList(<%=list[0].id%>)"></i>
          </th>
        </tr>
        <tr>
          <td class="secondrow" colspan="3">
          <b><%= points.length%></b> locations&nbsp&nbsp;&nbsp;|&nbsp&nbsp;&nbsp;Created by <b>you</b> on March 30, 2016
          </td>
        </tr>
        <%
        var listLabels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var listLabelIndex = 0;
        for (var i = 0; i < points.length; i++) { %>
        <tr class="listrow">
          <td class="listlabel" id="marker_info">
            <%= listLabels[listLabelIndex++ % listLabels.length] %>
          </td>
          <td class="listrow">
            <font class="namefont">
              <%= points[i].name %>
            </font>
            <br>
            <font class="addressfont">
              <%= points[i].address %>
            </font>
            <br>
            <font class="descfont">
              <%= points[i].description %>
            </font>
            <br>
            <font class="datefont">
              <%= points[i].added_date %>
            </font>
          </td>
          <td class="listrow">
            <img id="listPhoto" src="http://css1.www.cntower.ca/site_Files/Content/IMG/lookout_gallery/ImageThumbnailSize/CNTower-View-From-The-Lookout_0_0_.jpg">
          </td>
        </tr>

        <% } %>
      </table>
</td>

<td valign="top">

  <table id="privacy">
    <tr>
      <td class="public">
        <b>Public List</b><br>
        Public can view and edit
      </td>
    </tr>
    <tr>
      <td class="viewonly">
        <b>View Only</b><br>
        Public can view only
      </td>
    </tr>
    <tr>
      <td class="private">
        <b>Private</b><br>
        Only you can see this list
      </td>
    </tr>
  </table>


</td>
</tr>
</table>
  <%- include partials/_footer %>
