<!DOCTYPE html>
<html>
  <head>
    <title>Create New List</title>
    <%- include partials/_header%>
  </head>
  <body onload = "initMap()">
  <%- include partials/_navbar%>
  <div id="maindiv" >
    <div id="leftpane">
      <div id="map" style="width: 600px;height:500px; margin-left:10px;"></div>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box" style="width:380px;height:30px;font-size:1.5em;">
    </div>
    <div id="rightpane" data-list-id="<%= listid %>">
      <table class="list">
       <tr>
         <th>
            <%=title%>
            <i class="fa fa-trash-o" aria-hidden="true" style="float:right;" onclick="deletelist(<%=listid%>)"></i>
         </th>
       </tr>
       <tr>
         <td class="secondrow" colspan="2"><p style="float:left;"><%=desc%></p>
         <p style="float:right">
           <%if(privacy === 0) {%>
              public
            <% } else if(privacy === 1) {%>
              private
            <% } else { %>
              only me
            <%}%>
          </p>
         </td>
       </tr>

        <%for (var i = 0; i < points.length; i++) { %>
        <tr class="listrow" id=points[i].id>
          <td class="listrow">
            <font class="namefont">
              <%= points[i].name %>
            </font>
            <br>
            <font class="descfont">
              <%= points[i].description %>
            </font>
            <br>
            <font class="addressfont">
              <%= points[i].address %>
            </font>
            <br>
            <font class="datefont">
              <%= points[i].added_date %>
            </font>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
</body>
</html>
