<!DOCTYPE html>
<html>
  <head>
    <title>WikiMaps: Lists</title>
    <%- include partials/_header%>
  </head>
  <body onload = "initMap()">
  <%- include partials/_navbar%>


  <table id="display">
  <tr><td valign="top" width="685">

  <div id="maindiv" >
    <div id="leftpane">
      <div id="map" class="map"></div>
      <input id="pac-input" class="controls" type="text" placeholder="Search and Click on marker to add.." style="width:380px;height:30px;font-size:1.5em;">
    </div>

    </div>
    </td>
    <td align="left" valign="top">

        <div style="height: 460px; overflow:scroll">

    <div id="rightpane" data-list-id="<%= listid %>">

      <table class="list" style="width:420px;">
       <tr>
         <th style="border-right: 1px solid black">

            <%=title%>
            <i class="fa fa-trash-o" aria-hidden="true" style="float:right;" onclick="deletelist(<%=listid%>)"></i>

         </th>
       </tr>
       <tr>
         <td class="secondrow" colspan="2"><%=desc%>
         <p style="float:right">


            <%if(privacy === 0) {%>
              public
            <% } else if(privacy === 1) {%>
              private
            <% } else { %>
              only me
            <%}%>


          </p>
         </td>
       </tr>

        <%for (var i = 0; i < points.length; i++) { %>
        <tr class="listrow" style="border-right: 1px solid black" id= <%= points[i].id %> >
          <td class="listrow">

            <font class="namefont">
              <%= points[i].name %>
              <i class="fa fa-minus-circle delete-point" aria-hidden="true" style="color:red;float:right" onclick= "deletePoint(this,event)"></i>
            </font>
            <br>
            <font class="descfont">
              <%= points[i].description %>
            </font>
            <br>
            <font class="addressfont">
              <%= points[i].address %>
            </font>
            <br>
            <font class="datefont">
              <%= points[i].added_date %>
            </font>
          </td>
        </tr>
        <% } %>





      </table>
    </div>
    </div>
  </div>

  </td>
  <td valign="top">
    <table id="privacy">
     <tr>
     <%
     // Adjust opacity of privacy display based on setting
     if (privacy === 0) {
     %>
       <td class="public">
     <% } else {
     %>
       <td class="public" style="opacity: 0.25">
       <%
     }
     %>
         <b>Public List</b><br>
         Public can view and edit
       </td>
     </tr>
     <tr>
     <%
        if (privacy === 1) {
     %>
       <td class="viewonly">
     <% } else {
     %>
       <td class="viewonly" style="opacity: 0.25">
       <%
     }
     %>
         <b>View Only</b><br>
         Public can view only
       </td>
     </tr>
     <tr>
     <%
        if (privacy === 2) {
     %>
       <td class="private">
     <% } else {
     %>
       <td class="private" style="opacity: 0.25">
       <%
     }
     %>
         <b>Private</b><br>
         Only you can see this list
       </td>
     </tr>
   </table>
  </td>
  </tr>
  </table>
</body>
</html>
