<!DOCTYPE html>
<html>
  <head>
    <title>WikiMaps: Lists</title>
    <%- include partials/_header%>
  </head>
  <body onload = "initMap()">
  <%- include partials/_navbar%>


  <table id="display">
  <tr><td>

  <div id="maindiv" >
    <div id="leftpane">
      <div id="map" class="map"></div>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box" style="width:380px;height:30px;font-size:1.5em;">
    </div>

    </div>
    </td>
    <td align="left" valign="top" width="500">

        <div style="height: 460px; overflow:scroll">

    <div id="rightpane" data-list-id="<%= listid %>">

      <table class="list">
       <tr>
         <th style="border-right: 1px solid black">

            <%=title%>
            <i class="fa fa-trash-o" aria-hidden="true" style="float:right;" onclick="deletelist(<%=listid%>)"></i>

         </th>
       </tr>
       <tr>
         <td class="secondrow" colspan="2"><%=desc%>
         <p style="float:right">


            <%if(privacy === 0) {%>
              public
            <% } else if(privacy === 1) {%>
              private
            <% } else { %>
              only me
            <%}%>


          </p>
         </td>
       </tr>

        <%for (var i = 0; i < points.length; i++) { %>
        <tr class="listrow" style="border-right: 1px solid black" id= <%= points[i].id %> >
          <td class="listrow">

            <font class="namefont">
              <%= points[i].name %>
              <i class="fa fa-minus-circle delete-point" aria-hidden="true" style="color:red;float:right" onclick= "deletePoint(this,event)"></i>
            </font>
            <br>
            <font class="descfont">
              <%= points[i].description %>
            </font>
            <br>
            <font class="addressfont">
              <%= points[i].address %>
            </font>
            <br>
            <font class="datefont">
              <%= points[i].added_date %>
            </font>
          </td>
        </tr>
        <% } %>





      </table>
    </div>

    </div>
  </div>

  </td>
  </tr>

  </table>
</body>
</html>
