  <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

 <%- include partials/_header %>

  </head>

  <body>

  <%- include partials/_navbar %>

<%
// Function to convert timestamp to number of minutes, etc ago

function timeSince(date) {

    var seconds = Math.floor((new Date() - date) / 1000);

    var interval = Math.floor(seconds / 31536000);

    if (interval > 1) {
        return interval + " years ago";
    }
    interval = Math.floor(seconds / 2592000);
    if (interval > 1) {
        return interval + " months ago";
    }
    interval = Math.floor(seconds / 86400);
    if (interval > 1) {
        return interval + " days ago";
    }
    interval = Math.floor(seconds / 3600);
    if (interval > 1) {
        return interval + " hours ago";
    }
    interval = Math.floor(seconds / 60);
    if (interval > 1) {
        return interval + " minutes ago";
    }
    return Math.floor(seconds) + " seconds ago";
    }

function timeFormat(date) {
  var monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"];

var month = monthNames[date.getMonth()];

  var day = date.getDate();

  var year = date.getFullYear();
  return month + ' ' + day + ', ' + year;
}
%>


  <table id="display">
  <tr>
  <td width="18%" valign="top">

    <table>
      <tr>
        <td id="profile">

  <font class="profileName">
<%=user.name%>
  </font>
  <br>

  <%
  //Check to see if user has a profile picture; if not, display generic div

  if (user.image) {
%>
  <img class="profileImage" src="<%=user.image%>">
  <%
  } else {
  %>
<div class="noProfilePic">
<i class="fa fa-user" aria-hidden="true"></i>
</div>
  <%
  }
  %>

  <font class="profileinfo">
  <b>Joined:</b>
  <%= timeFormat(user.date_joined)%><br>
  <b>Lists Created:</b> <%= list.length %><br>
 <b>Public Edits:</b> <%= cont.length %><br>
 <b>Favourites:</b> <%= fav.length %><br>
  </font>

      </td>
    </tr>
  </table>


  </td>

  <td width="3%"></td>
  <td width="48%" valign="top">

  <div style="height: 375px; overflow:scroll; border-bottom: 1px solid black">
    <table class="list" width="100%">
      <tr>
        <th>
          <i class="fa fa-address-book" aria-hidden="true"></i> My Lists
        </th>
      </tr>


<%
          for (var i = 0; i < list.length; i++) {
  %>
  <tr><td class="listrow">

  <%

  if (list[i].image) {
  %>
  <img id="listPhoto" src="<%=list[i].image%>">
  <%
  } else {
  %>
  <div id="noListPhoto"><i class="fa fa-globe" aria-hidden="true"></i></div>
  <%
  }
  %>


<a href="/lists/<%=list[i].id%>"><%= list[i].title %></a>
<br>
<%=list[i].description%>
<br>
<font class="timeago">Created on <%=timeFormat(list[i].date_created)%>
</font>
<br>
</td></tr>
  <%
}
%>



    </table>

</div>

<br><br>

 <div style="height: 250px; overflow:scroll; border-bottom: 1px solid black">
    <table class="list" width="100%">
      <tr>
        <th>
          <i class="fa fa-heart-o" aria-hidden="true"></i> Favourite Lists
        </th>
      </tr>


          <%
          for (var i = 0; i < fav.length; i++) {

          // Check to see if favourited list was created by the logged-in user
          // If so, change to "you"

          if (fav[i].name === user.name) {
          fav[i].name = "you";
          }
          %>
        <tr><td class="listrow">

              <%
              if (fav[i].image) {
                %>
                <img id="listPhoto" src="<%=fav[i].image%>">
                <%
                } else {
                %>
                <div id="noListPhoto"><i class="fa fa-globe" aria-hidden="true"></i></div>
                <%
                }
                %>
          <a href="/lists/<%=fav[i].list_id%>"><%= fav[i].title %></a>
          <br>
          <%=fav[i].description%>
          <br>
          <font class="timeago">Created by <%=fav[i].name%> on <%=timeFormat(fav[i].date_created)%>
          </font>
          </td>
          </tr>
          <%
          }
          %>



        </td>
      </tr>
    </table>
    </div>

  </td>
  <td width="3%"></td>
  <td width="28%" valign="top">

<div style="height: 375px; overflow:scroll; border-bottom: 1px solid #cccccc">

    <table id="activityfeed" width="100%">
      <tr>
        <th>
          <i class="fa fa-clock-o" aria-hidden="true"></i> Activity Feed
        </th>
      </tr>
      <tr>
        <td>

<ul>
        <%
// Combine recent New Lists and Contributors into one array and re-sort
// by descending date for Activity Feed

 var activity = publicList.concat(publicCont);
 activity.sort(function(a, b) {
    a = new Date(a.date_created);
    b = new Date(b.date_created);
    return a>b ? -1 : a<b ? 1 : 0;
});


// Loop through Activity array, determine if it's a new list or contribution,
// and format output accordingly

for (i = 0; i < activity.length; i++) {

if (activity[i].name === user.name) {
          activity[i].name = "You";
          }

%>


<li>
<%
if (activity[i].listid) {

  %>
  <b><%=activity[i].name%></b> created a new list:
  <%

} else {
// if activity was a contribution

  %>
  <a class="activityuser" href="/users/<%=activity[i].id%>"><%=activity[i].name%></a> contributed to:

<%
}
%>

<br>
 <font style="font-size: 110%">
<a href="/lists/<%=activity[i].listid%>"><%=activity[i].title%></a>
</font>
<br>
<font class="timeago">
<%= timeSince(activity[i].date_created); %>
</font>
<br>


</li>
<%
}
%>


</ul>

        </td>
      </tr>
    </table>

</div>

<br><br>


<div style="height: 250px; overflow:scroll; border-bottom: 1px solid #cccccc">

    <table id="activityfeed" width="100%">
      <tr>
        <th>
          <i class="fa fa-users" aria-hidden="true"></i> My Contributions
        </th>
      </tr>
      <tr>
        <td>

<ul>
      <%
for (var i = 0; i < cont.length; i++) {

  %>
  <li>
   <font style="font-size: 110%">
<a href="/lists/<%=cont[i].list_id%>"><%= cont[i].title %></a>
</font>
<br>
You contributed on <%=timeFormat(cont[i].date_created)%>
</li>
  <%
}
%>
</ul>
      </td>
      </tr>
    </table>

</div>




  </td>
  </tr>
  <tr>
<td></td>
<td></td>
  <td valign="top">



  </td>
  <td></td>
  <td valign="top">



  </td>



  </tr>
  </table>






   <%- include partials/_footer %>
